
@{
    ViewData["Title"] = "GetThread";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Thread

@functions{
    string GetVariantStr(bool variant, string ifTrue, string ifFalse)
    {
        return variant ? ifTrue : ifFalse;
    }
}

<div class="thread_content">
    <table style="undefined;table-layout: fixed; width: 460px">
        <colgroup>
            <col style="width: 165px">
            <col style="width: 128px">
            <col style="width: 87px">
            <col style="width: 80px">
        </colgroup>
        @foreach (Post post in Model.Posts)
        {
            <tr>
                <th>@post.Id</th>
                <th>@post.SenderName</th>
                <th>@GetVariantStr(post.IsOP, "ОП-пост", "")</th>
                <th>@GetVariantStr(post.IsSage, "Sage", "")</th>
            </tr>
            <tr>
                <td><img src="@post.ContentRef"</td>
                <td colspan="3">@post.Text</td>
            </tr>
        }
    </table>
</div>

